html{
    background-color: black;
}

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

div{
    color: aliceblue;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

img{
    width: 100%;
    border: 5px solid white;

}

